DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=your_db_name

CACHE_HOST=0.0.0.0
CACHE_PORT=6379
CACHE_DB=0

JWT_SECRET_KEY=your_secret_key
JWT_ENCODE_ALGORITHM=HS256